/* Coda, Gruppo */

html, body, #app, #app>div {
  height: 100%;
}

.no-gutter > [class*='col-'] {
 padding-right:0;
 padding-left:0;
}

.section {
 height: auto;
 /* min-height: 300px; */
 /* border: 1px solid red; */
 background: #FFFFFF;
  /* background: #89D3DE; */
  border: 2px solid #000000;
 /* margin-top: 2%; */
 border-radius: 4px;
 box-shadow: 5px 5px #c30000;
 padding: 30px 0;
}

.div1 {
 width: 97%;
 /* padding-left: 40px; */
}



.water-data-div {
  padding: 20px;
}

.div2, .div3 {
 width: 100%;
 max-width: 480px;
}

body {
 /* background: #89D3DE; */
 background: #383838;
 font-family: 'Monda', sans-serif;
 /* background: #000000; */
 /* background: #010914; */
 /* padding: 0 2%; */
}



.navbar {
  /* background: #386A98; */
  background: #000000;
  padding: 0;
}

.nav-username {
 position: absolute;
 top: 10px;
 right: 10px;
 font-family: 'Gruppo', cursive;
 letter-spacing: 5px;
 color: white;
 margin: 20px;
 font-size: 1rem;

}

.sub-brand {
 font-family: 'Gruppo', cursive;
 letter-spacing: 15px;
 padding: 0;
 font-size: 1.6rem;
}

/* .brand {
 font-family: 'Orbitron', sans-serif;
 letter-spacing: 15px;
 font-size: 1.8rem;
 font-weight: 900;
 position: absolute;
 left: 50%;
 right: 50%;
 color: white;
} */
.brand {
  font-family: 'Orbitron', sans-serif;
  letter-spacing: 15px;
  font-size: 1.8rem;
  font-weight: 900;
  position: absolute;
  left: 566px;
  /* right: 50%; */
  top: 200px;
  color: white;
}

a {
  color: white;
}

.date-bar {
  /* background: #010914 */
  background: #ff0505;
  line-height: 3rem;
  font-family: 'Monda', sans-serif;
  font-size: 1.5rem;
  letter-spacing: 4px;
}

hr {
  margin: .4rem 0;
  bordeR: none;
}

.dumbbell {
 height: 150px;
 width: auto;
}

p {
 font-size: 1.3rem;
 letter-spacing: 2px;
}

h4 {
 font-family: 'Monda', sans-serif;
 font-size: 1.8rem;
 letter-spacing: 5px;
 text-align: center;
}

.h4-reduced {
  font-family: 'Monda', sans-serif;
  font-size: 1.5rem;
  letter-spacing: 5px;
  text-transform: uppercase;
 }

h5 {
 font-family: 'Monda', sans-serif;
 font-size: 1.1rem;
 text-align: center;
 padding: 10px 50px;
}

h3 {
 font-family: 'Monda', sans-serif;
 font-size: 1.3rem;
 text-align: center;
 margin: 0;
}

p {
 margin: 0
}

.font-onepointfive {
  font-size: 1.5rem;
}

.exercise, .reps {
 font-size: 2rem;
}

.bodypart {
 font-size: 1.3rem
}

.reps {
font-size: 1.8rem;
}

.fa-stack-1x {
 font-family: 'Gruppo', cursive;
}

.fa-stack {
  display: block;
  height: 2em;
  line-height: 2em;
  position: relative;
  /* vertical-align: middle; */
  width: 2.5em;
}

.numBadge {
 font-size: 1.2rem;
}

.fa-square {
 color: #ff0505;
}

.fa-glass-whiskey {
 font-size: 2.2rem;
 margin: 5px;
}

.fa-times-circle {
  margin-top: 0.1rem;
}

.workout-table {
  width: 90%;
  margin-left: 45px;
}
.nutrition-table {
  width: 90%;
}

.exercise, .reps {
  font-size: 1.3rem;
}

th {
  padding: 15px 0;
}

.whiskey-div {
  width: 80%;
  margin: 0 auto;
}

.whiskey-div-small {
  width: 75%;
  margin: 0 auto;

}


.monda {
  font-family: 'Monda', sans-serif;
}

.edit, .save {
  color: #fff;
  background-color: #ff0505;
  border-color: rgb(0, 0, 0);
}

.delete {
  color: #fff;
  background-color: #666666;
  border-color: rgb(0, 0, 0);
}

.edit-delete {
  margin-top: 45px !important;
  /* margin-left:  0px !important; */
}

.edit-sets, .edit-reps {
  padding: -30px;
}

.start {
  color: white;
  background-color: rgb(49, 124, 49);
  border-color: rgb(0, 0, 0);
}

.clear {
  color: white;
  /* background-color: #0366d6; */
  background-color: #ff0505;
  z-index: 10;
  border-color: rgb(0, 0, 0);
  position: relative;
  top: 70px;
}
.saveBar {
  position: relative;
  top: 210px;
  left: 120px;
}

label {
  margin-bottom: 0;
}

.red {
  color: red;
}

.green {
  color: rgb(46, 180, 46);
}

.far {
  font-size: 20px;
}

.max {
  max-width: 200px;
}

.fa-edit, .fa-save {
  color: #ffffff;
}

.fa-save {
  font-size: 1.3rem;
  margin-top: 1px;
  margin-left: 10px;
}

.fa-edit:hover, .small, .fa-trash-alt:hover, .setBadge, .result {
  cursor: pointer;
}

.small {
  font-size: 1.3rem !important;
  color: white;

}

.fa-plus-square {
  color: white;
  font-size: 1.4rem;
  margin-top: 1.2px;
}

.form-control {
  width: 80%;
  text-align: center;
  margin: 0 auto;
}


hr {
  height: 10px;
}




/* ------------------------------------------- */





.weightsDiv {
  height: 370px;
   width: 460px;
   margin: 0 auto;
  background-color: white;
  position: relative;
  /* margin-left: 80px; */
  /* border: 1px solid blue; */
}



/* .weightOne {
    height: 200px;
   width: 200px;
  background-color: red;
  position: absolute;
  top: 10px;
} */

.weight {
  position: absolute;
  top: 180px;
}


.fa-35x {
  font-size: 3.5em;
}

.fa-25x {
  font-size: 2.5em;
}

.fa-15x {
  font-size: 1.5em;
}



.weight-text { color: white; top: 0px; font-size: 35px }

.barbell {
  position: absolute;
  width: 420px;
  height: 65px;
  top: 60px;
  left: 23px;
  z-index: 1;
}

.plate {
  border-radius: 5px;
  position: absolute;
  width: 15px;
  border: 1px solid black;
  z-index: 3;
}

.plate, .weight, .p45, .p35, .p25, .p10, .p5 {
  cursor: pointer;
}

.plate1L {left: 95px}
.plate1R {right: 93px}
.plate2L {left: 81px}
.plate2R {right: 79px}
.plate3L {left: 67px}
.plate3R {right: 65px}
.plate4L {left: 54px}
.plate4R {right: 51px}
.plate5L {left: 40px}
.plate5R {right: 37px}

.plate-45 {
  height: 150px;
  background: #ff0000;  
  top: 15px;
}
.plate-45 {
  height: 150px;
  background: #ff0000;  
  top: 15px;
}
.p45 {
  color: #ff0000;
}

.plate-35 {
  top: 25px;
  height: 130px;
  background: #cc0000;
  /* background: blue;; */
}
.plate-35 {
  top: 25px;
  height: 130px;
  background: #cc0000;
}
.p35 { color: #cc0000 }

.plate-25 {
  height: 110px;
  background: #990000;
  top: 35px;
}
.plate-25 {
  height: 110px;
  background: #990000;
  top: 35px;
}
.p25 { color: #990000 }


.plate-10 {
  height: 90px;
  background: #660000;
  top: 45px;
}
.plate-10 {
  height: 90px;
  background: #660000;
  top: 45px;
}
.p10 { color: #660000 }

.plate-5 {
  height: 80px;
  background: #330000;
  top: 50px;
}
.plate-5 {
  height: 80px;
  background: #330000;
  top: 50px;
}
.p5 { color: #330000 }


.total {
  position: absolute;
  left: 40%;
  font-size: 2rem;
}

.shortenWidth {
  width: 26%;
  position: relative;
  top: 20px;
}

.shortenWidthRep {
  width: 20%;
  position: absolute;
  top: 317px;
  left: 140px;
}

.currWeight {
  width: 70%;
  padding: 0;
  top: 315px;
  position: absolute;
}

.weight-input {
  top: 305px;
  left: 205px;
  position: absolute;
  margin-left: 35px;
}

.p45, .p35, .p25, .p10, .p5 {
  position: absolute;
}

.p45 {
  top: 182px;
}

.p35 {
  top: 190px;
  left: 120px;
}

.p25 {
  top: 198px;
  left: 225px;
}

.p10 {
  top: 206px;
  left: 315px;
}

.p5 {
  top: 215px;
  left: 391px;
}

.hide {
  visibility: hidden;
}

.weight-total {

  position: relative;
  top: 25px;
}

.total-form {
  width: 40%;
  margin: 0 auto;
  position: relative;
  top: 20px;
  z-index: 5

  
}

.total-form > input {
  font-size: 1.5rem;
}


.col-md-6 {
  max-width: 45%;
}

.set {
  color: #390000;
}

.result {
  height: 35px;
  width: 142px;
  /* background: rgb(49, 124, 49); */
  background: #ff0000;
  border-radius: 5px;
  font-size: 1.2rem;
  color: white;
  font-family: 'Gruppo', cursive;
  font-weight: 900;

}

.setDiv {
  width: 90%;
  margin: 0 auto;

}

.setNumber {
  position: relative;
  top: 8%;
}

.setBadge {

}

.gymNotes {
  text-align: left;
}

.repsDiv {
  color: black;
  position: absolute;
  top: 323px;
  left: 48px;
}

.exerciseDiv {
  height: 70px;
}

.react-datepicker-wrapper {
  right: 100px;
    position: absolute;
    bottom: 40px;
}

.changeDate {
  position: absolute;
    right: 103px;
bottom: 83px;    
font-family: 'Gruppo', cursive;
    letter-spacing: 5px;
    color: white;
    /* margin: 20px; */
    font-size: 1rem;
}

.blue-box {
  box-shadow: 5px 5px #e2cb00
}

.banner {
  height: 300px;
  width: auto;
}